#root {
  margin: 0 auto;
  min-width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.app-title {
  font-size: 72px;
  margin-top: 75px;
  margin-bottom: 50px;
  color: #0ccac4;
  font-family: 'Bigelow Rules';
  text-align: center;
  word-break: break-word;
}

@media (max-width: 600px) {
  .app-title {
    font-size: 2.2rem;
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

